{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
    <link rel="stylesheet" href="{% static 'books/one_book.css' %}">
</head>
<body>
    <h1>{{ book.title }}</h1>
        <P>
            <h2>Автор:</h2>
            <div>{{ book.author_full_name }}</div>
        </P>
        <P>
            <h2>Год издания:</h2>
            <div>{{ book.year_of_publishing }}</div>
        </P>
        <P>
            <h2>Копий издано:</h2>
            <div>{{ book.copies_printed }}</div>
        </P>
        <P>
            <h2>Описание:</h2>
            <div>{{ book.short_description }}</div>
        </P>

    </ul>
</body>
</html>